---
import ProjectLayout from "@/layouts/project-layout.astro";

// Projekte direkt im Code definieren
const projects = [
  {
    id: "project1",
    name: "Projekt Eins",
    description: "Beschreibung Projekt Eins",
    sourceCode: "https://github.com/username/project1",
  },
  {
    id: "project2",
    name: "Projekt Zwei",
    description: "Beschreibung Projekt Zwei",
    sourceCode: "https://github.com/username/project2",
  },
];

export async function getStaticPaths() {
  const projects = [
    {
      id: "project1",
      name: "Projekt Eins",
      description: "Beschreibung Projekt Eins",
      sourceCode: "https://github.com/username/project1",
    },
    {
      id: "project2",
      name: "Projekt Zwei",
      description: "Beschreibung Projekt Zwei",
      sourceCode: "https://github.com/username/project2",
    },
  ];

  return projects.map(project => ({
    params: { projectId: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;
---

<ProjectLayout title={project.name}>
  <p>{project.description}</p>
  {project.sourceCode && (
    <p>
      Git Repository: 
      <a href={project.sourceCode} target="_blank" rel="noopener noreferrer">
        {project.sourceCode}
      </a>
    </p>
  )}
</ProjectLayout>