---
import { FolderCodeIcon } from "lucide-react";

interface Props {
  project: {
    id: string;
    name: string;
    description: string;
    sourceCode?: string;
  };
}

const { project } = Astro.props;
---

<div class="flex flex-col gap-2 p-4 border-b">
  <p>{project.description}</p>
  {project.sourceCode && (
    <p class="flex items-center gap-2 text-blue-600">
      <FolderCodeIcon class="size-4" />
      <a href={project.sourceCode} target="_blank" rel="noopener noreferrer">
        Git Repository
      </a>
    </p>
  )}
</div>